@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Confira os menus <a href="https://www.youtube.com/">Acesse nosso Youtube!</a>.</p>
</div>
